/* meta query */

/* tablet settings */
@media screen and (max-width: 768px) {
    
    /* container  */
    .container{
        width: 100%;
    }
    .small-container{
        width: 100%;
    }

    /* .header */
    .header-links ul li a{
        display: none;
    }

    .head-hidden-menu{
        display: block;
    }

    /* section 2 */
    .row-center-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .col-block{
        width: 80%;
        text-align: center;
        justify-content: center;
    }

    /* card  */

    .col-card-large{
        flex-direction: column;
    }
    
}


/* smartphone setting */

@media screen and (max-width: 480px) {
    /* container  */
    .container{
        width: 100%;
    }




    /* header  */
    .header-links ul li a {
        display: none;
    }
    
    .head-hidden-menu {
        display: block;
    }

    /* col main sez 1 */

    .col-card,
    .col-card-large {
        display: flex;
        width: 100%;
    }

    /* col sez 2 */

    

    /* partners section  */
    .col-partners{
        flex-direction: column;

    }

    /* about us  */
    





}