/* common */

h2{
	font-size: 3rem;
	font-weight: bolder;
}

h3{
	font-size: 1.8rem;
	font-weight: bold;
}

/* header */

.head-hidden-menu{
	display: none;
}

.header-main {
	color: white;
	background-color: #0084fd;
	/* z-index: 3; */
	/* position: fixed; */
	width: 100%;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.header-nav>* {
	padding: 5px 5px;
	padding: 0.5rem;
}

.header-links ul li {
	display: inline;
}

.logo {
	max-height: 2rem;
}

/* main */

.row-card{
	gap: 1.8rem;
	flex-wrap: wrap;
}



.col-card{
	width: calc(100% / 3 - 1.8rem);
	border-radius: 1rem;
	flex-direction: column;
	/* debug */
	height: 300px;


}

.col-card-large{
	width: calc(100% / 3 * 2 - 1.8rem);
	border-radius: 1rem;
	justify-content: space-around;
	/* debug */
	height: 300px;
}

.col-card-large .col-card>*,
.col-card>*{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.jumbotron .col-card,
.jumbotron .col-card-large{
	background-color: #b5ddff;
}

.image-card{
	display: flex;
	width: 230px;
	align-items: flex-end;
	justify-content: center;
	border-radius: 50%;
}

/* quadrato placeholder*/

.placeholder-square{
	width: 200px;
	height: 200px;
	background-color: aquamarine;
}

/* ---------*/


/* strategic planning  */

.background-viola{
	background-color: #9792e4;
	
	
}

.row-center-block{
	gap: 1rem;
}


.col-block{
	display: flex;
	width: calc(100% / 2);
	flex-direction: column;
	gap: 1rem;
}

.planning-trasparent{
	align-items: center;
	padding: 2rem;
	/* width: 50%; */
}

.planning-white {
	align-items: center;
	padding: 2rem;
}


/* expert partners */

.presentation-text{
	text-align: center;
}

.row-partners{
	flex-direction: column;
	gap: 1rem;

}

.col-partners{
	display: flex;
	background-color: #9792e4;
	width: 100%;
	border-radius: 2rem;
	padding: 1.5rem;
	align-items: center;
}

.col-partners .partners-text{
	padding: 1rem;

}




.image-partners{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

/* benefit */

.benefit .col-card{
	background-color: white;
}

/* about us  */

.about-main{
	width: 70%;
}

.about-image{
	width: 30%;
}

/* footer */

/* get-started */
.background-nero{
	background-color: #333333;
}
.get-started{
	text-align: center;
}

/* final part footer */
.end-footer{
	color: white;
	text-align: center;
}










