/* Utils */
/* container */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.small-container {
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}




/* clarfix  */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}


/* display flex  */

.d-flex{
	display: flex;
}



/* bottoni */


/* aligni items */

.text-center-padding{
	text-align: center;
	padding: 2rem;
}

/* bg-color */

.bg-color-white{
	background-color: white;
}

